
<div id="CVPage" class="displayWindow">
    <div id="basicInfoTitle" style="margin: 0; padding: 10px;">
        @Res.CVPageLabel
    </div>

    <div>
        <table id="cvTable">
            <tr>
                <td>
                    <a href="~/Docs/CV_Dmytro_Strebul_ru.docx" download="">
                        <img src="~/Content/Images/word_ru_1000px.png" />
                        <br />
                        <span>Скачать резюме(.docx)</span>
                    </a>
                </td>
                <td>
                    <a href="~/Docs/CV_Dmytro_Strebul_ru.pdf" download="">
                        <img src="~/Content/Images/pdf_ru_1000px.png" />
                        <br />
                        <span>Скачать резюме(.pdf)</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="~/Docs/CV_Dmytro_Strebul_en.docx" download="">
                        <img src="~/Content/Images/word_ru_1000px.png" />
                        <br />
                        <span>Download CV(.docx)</span>
                    </a>
                </td>
                <td>
                    <a href="~/Docs/CV_Dmytro_Strebul_en.pdf" download="">
                        <img src="~/Content/Images/pdf_ru_1000px.png" />
                        <br />
                        <span>Downloads CV(.pdf)</span>
                    </a>
                </td>
            </tr>
        </table>   
    </div>
    
</div>
