@model CV.Models.MenuModel
<div id="menuPanel">
    <ul id="menuList">
        @foreach (var item in Model.MenuList)
        {
            if (ViewBag.HideMenu != null && ViewBag.HideMenu == true) { break;}
            <li>
                <a href="#" onclick="showPage('@item.ItemName');">@item.ItemLabel</a>
            </li>
        }
    </ul>
</div>
