body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    background-color: black;
    font-size: 20px;
    color: rgb(0, 230, 0);
    font-family: Matrix_Font, Courier New, Courier, monospace;
}

@font-face {
    font-family: 'Matrix_UpperOnly_Font';
    src: url('../Fonts/Matrix_UpperOnly_Font.TTF') format('truetype');
}

@font-face {
    font-family: 'Matrix_Font';
    src: url('../Fonts/Matrix_Font.ttf') format('truetype');
}

#rootDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    overflow: hidden;
}

#bgCanvas {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

#monitorDiv {
    position: absolute;
    width: 900px;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: black;
    border: 0 solid green;
    display: none;
    padding: 0;
    background-color: transparent;
}

#menuPanel {
    width: 950px;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: transparent;
}

#menuList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
    margin: 0;
    padding: 0;
    background: transparent;
}
#menuList li {
    vertical-align: central;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
#menuList li a{
    font-size: 30px;
    font-family: Matrix_UpperOnly_Font;
}

#infoTable {
    color: rgb(0, 230, 0);
    width: 100%;
        font-family: Courier New, Courier, monospace;
}

    #infoTable td {
        padding: 2px 5px;
    }

#basicInfoTitle {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px;
    font-size: larger;
    font-weight: bolder;
    font-family: Matrix_UpperOnly_Font;
}

a {
    color: greenyellow;
    text-decoration: none;
}

    a:after, a:visited, a:active, a:before, a:current {
        color: greenyellow;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        color: red;
    }


#basicInfoImg {
    width: 200px;
    background-color: greenyellow;
    height: 250px;
    margin: 15px auto;
}

.mainPageImg {
    width: 100%;
    border: 5px solid green;
}

#rightInfoColumn {
    width: 335px;
    height: 590px;
    float: right;
    display: block;
    background-color: transparent;
}

#leftSideColumn {
    height: 590px;
    width: 500px;
    background-color: black;
    display: block;
    margin: 0;
    padding: 15px;
}

#printingContent {
    position: absolute;
    width: 480px;
    bottom: 0;
    background-color: black;
}

    #printingContent a {
        float: right;
    }

.blinking {
    animation: blink-animation 1s linear infinite;
}

@keyframes blink-animation {
    90% {
        opacity: 0.2;
    }
}

#HomePage {
    background-color: #000000;
    background-color: rgba(0,0,0,0.9);
}
#AboutPage {
    background-color: #000000;
    background-color: rgba(0,0,0,0.9);
}

pre {
    white-space: pre-wrap;
    font-family: Courier New, Courier, monospace;
}

.printer-hl1 {
    color: #77ff00;
}

.printer-hl2 {
    color: #ddff00;
    font-weight: bold;
}
